* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.6rem;
}

p {
  font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
}

#nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  background: black;
  z-index: 9;
}

#header-logo {
  margin-left: 2rem;
  width: 9rem;
}

nav {
  margin-right: 2rem;
}
nav > a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}
nav > a:hover {
  color: #00bfd6;
}

#section-home {
  background: url(../images/home-bg.jpg) no-repeat center center/cover;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#section-home > h1 {
  text-align: center;
}
#section-home > h4 {
  margin-top: 1rem;
  text-align: center;
}

#subsection-device-color {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
#subsection-device-color > p {
  margin-top: 1rem;
  padding: 0 5rem;
  text-align: center;
}

.img-description {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.description {
  margin: 2rem;
}

#image-tablet-color {
  height: 360px;
}

#subsection-device-film {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 5rem;
}
#subsection-device-film > img {
  margin-left: 2rem;
}

.film-description {
  margin-left: 2rem;
}
.film-description p {
  margin-top: 1rem;
}

#section-video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
}

.video-container {
  margin-top: 2rem;
  width: 80%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#section-specification {
  background: #f4f4f4;
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
}
#section-specification > div {
  display: flex;
}

.specification-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 2;
}
.specification-content > div {
  display: flex;
  justify-content: space-between;
}

#section-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.image-container {
  margin-left: 2rem;
}

.product-image {
  width: auto;
  height: 50rem;
}

#section-newsletter {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.btn {
  background: #00bfd6;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.textfield {
  border: none;
  padding: 0.5rem;
  width: 60%;
}
.textfield:focus {
  outline: none;
}

.form-round {
  background: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 40%;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background: #212121;
  color: #919699;
}
#footer > h5 {
  color: white;
  margin-bottom: 0.5rem;
}
#footer > h6 {
  margin-top: 1rem;
}

#social-media > a {
  color: #919699;
  margin: 0.3rem;
  text-decoration: none;
}

#twitter:hover {
  color: #55ACEE;
}

#facebook:hover {
  color: #1778F2;
}

#youtube:hover {
  color: #FF0000;
}

#instagram:hover {
  color: #405de6;
}

#tumblr:hover {
  color: #35465C;
}

/*# sourceMappingURL=main.css.map */
