* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.6rem;
  margin-top: 1rem;
}

p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.description {
  margin: 1rem;
}

.img-responsive {
  margin: 1rem;
  height: auto;
  max-width: 50%;
}

.video-container {
  margin-top: 2rem;
  width: 80%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.btn {
  background: #00bfd6;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.form-round {
  background: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 50%;
}

.textfield {
  border: none;
  padding: 0.5rem;
  width: 60%;
}
.textfield:focus {
  outline: none;
}

#nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  background: black;
  z-index: 9;
}

#header-logo {
  margin-left: 2rem;
  width: 8.5rem;
}

nav {
  margin-right: 2rem;
}
nav > a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}
nav > a:hover {
  color: #00bfd6;
}

.dark-mode {
  background-color: #212121;
  color: white;
}

main > :nth-child(odd) {
  background: #f4f4f4;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

#section-home {
  background: url("../images/home-bg.jpg") no-repeat center center/cover;
  color: white;
  height: 100vh;
  width: 100%;
}

#section-device-color > p {
  padding: 0 5rem;
  text-align: center;
}

.secondary-content {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

#section-device-film {
  flex-direction: row;
}

#section-video > h2 {
  margin: 1rem;
}

#section-specification {
  display: block;
  padding: 10rem 6rem;
}
#section-specification > div {
  display: flex;
  justify-content: space-evenly;
}

.specification-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  flex-grow: 2;
}
.specification-content > div {
  display: flex;
  justify-content: space-between;
}

#section-product {
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
}

#section-newsletter {
  padding: 2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background: #212121;
  color: #919699;
}
footer > h5 {
  color: white;
}

#social-media {
  margin-top: 0.5rem;
}
#social-media > a {
  color: #919699;
  margin: 0.3rem;
  text-decoration: none;
}

#twitter:hover {
  color: #55ACEE;
}

#facebook:hover {
  color: #1778F2;
}

#youtube:hover {
  color: #FF0000;
}

#instagram:hover {
  color: #405de6;
}

#tumblr:hover {
  color: #35465C;
}

/*# sourceMappingURL=main.css.map */
