@use "../scss/" as *;

main > :nth-child(odd) {
  background: $secondary-light-bg;
}

// section {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   padding: $padding;
// }

#section-home {
  background: url("../images/home-bg.jpg") no-repeat center center/cover;
  color: white;
  height: 100vh;
  width: 100%;
}

#section-device-color {
  > p {
    padding: 0 $padding;
    text-align: center;
  }
}

.secondary-content {
  margin-top: $sm-padding;
  display: flex;
  align-items: center;
}

#section-device-film {
  flex-direction: row;
}

#section-video {
  .video-container {
    margin-top: $sm-padding;
    width: 80%;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }

  #video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

#section-specification{
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10rem 6rem;

  > div {
    display: flex;
  }
}

.specification-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: $sm-padding;
  flex-grow: 2;

  > div {
    display: flex;
    justify-content: space-between;
  }
}

#section-product {
  flex-direction: row;
  justify-content: space-between;
  padding: $padding;
}

#section-newsletter {
  padding: 2rem;
}

@include footer($footer-color);
