@use "../scss/" as *;

html {
  scroll-behavior: smooth;
}

#nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  background: rgba($color: black, $alpha: 1);
  z-index: 9;
}

#header-logo {
  margin-left: 2rem;
  width: 9rem;
}

nav {
  margin-right: 2rem;
  > a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;

    &:hover {
      color: $primary-color;
    }
  }
}

@include section-home;

@include section-device-color;
@include section-device-film;

@include section-video;

@include section-specification;

@include section-product;

@include section-newsletter;
@include button;
@include textfield;
@include form-round;

@include footer($footer-color);
