@use "../scss/" as *;

.dark-mode {
  background-color: #212121;
  color: white;
}

main > :nth-child(odd) {
  background: $secondary-light-bg;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $padding;
}

#section-home {
  background: url("../images/home-bg.jpg") no-repeat center center/cover;
  color: white;
  height: 100vh;
  width: 100%;
}

#section-device-color {
  > p {
    padding: 0 $padding;
    text-align: center;
  }
}

.secondary-content {
  margin-top: $sm-padding;
  display: flex;
  align-items: center;
}

#section-device-film {
  flex-direction: row;
}

#section-video {
  > h2 {
    margin: $margin;
  }
}

#section-specification{
  display: block;
  padding: 10rem 6rem;

  > div {
    display: flex;
    justify-content: space-evenly;
  }
}

.specification-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: $sm-padding;
  flex-grow: 2;

  > div {
    display: flex;
    justify-content: space-between;
  }
}

#section-product {
  flex-direction: row;
  justify-content: space-between;
  padding: $padding;
}

#section-newsletter {
  padding: $sm-padding;
}

@include footer($footer-color);
