@use "../abstracts/variables" as *;

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.3rem auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@mixin humburger-menu {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translatey(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translatey(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    gap: 0.5rem;
    flex-direction: column;
    background-color: $dark-color;;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 1rem;
  }

  .nav-items {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
