@use "hamburger-menu" as *;

$smartphone-max: 500px;
$tablet-min: 501px;
$tablet-max: 768px;
$normal-min: 769px;
$normal-max: 1200px;
$widescreen-min: 1201px;

$landscape-max: 500px;

/* Smartphones */
@media only screen and (max-width: $smartphone-max) {
  @include humburger-menu;
}

/* Tablet */
@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  @include humburger-menu;
}

/* Normal */
@media (min-width: $normal-min) and (max-width: $normal-max) {
}

/* Widescreen */
@media (min-width: $widescreen-min) {
}

/* Landscape */
@media (max-height: $landscape-max) {
}
