@use "hamburger-menu" as *;

$smartphone-max: 500px;
$tablet-min: 501px;
$tablet-max: 768px;

/* Smartphones */
@media only screen and (max-width: $smartphone-max) {
  :root {
    font-size: 8px;
  }
  @include humburger-menu;
}

/* Tablet */
@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  :root {
    font-size: 12px;
  }
  @include humburger-menu;
}