@use "../abstracts/variables" as *;
@use "../components/shadow" as effects;

header {
  z-index: 9;
  padding: 0 1rem;
}

#nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  width: 8.5rem;
}

nav {
  > a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.nav-colored {
  background: $dark-color;
  @include effects.shadow;
}

.nav-transparent {
  background: rgba($color: black, $alpha: 0);
}
