@use "../abstracts/variables" as *;
@use "../components/shadow" as effects;

header {
  position: fixed;
  background: $dark-color;;
  padding: 0 1rem;
  width: 100%;
  z-index: 9;
}


li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  > img {
    width: 8.5rem;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  transition: 0.7s ease;

  &:hover{
    color: $primary-color;
  }
}

#theme-btn {
  cursor: pointer;
}

.nav-colored {
  background: $dark-color;
  @include effects.shadow;
}

.nav-transparent {
  background: rgba($color: black, $alpha: 0);
}

