@mixin section-device-color {
  #subsection-device-color {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem;

    > p {
      margin-top: 1rem;
      padding: 0 5rem;
      text-align: center;
    }
  }

  .img-description {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }

  .description {
    margin: 2rem;
  }

  #image-tablet-color {
    height: 360px;
  }
}