@mixin section-product {
  #section-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
  }

  .image-container {
    margin-left: 2rem;
  }

  .product-image {
    width: auto;
    height: 50rem;
  }
}