@mixin section-details {
  @include subsection-device-color;
  @include subsection-device-film;
}

@mixin subsection-device-color {
  #subsection-device-color {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem;

    > p {
      margin-top: 1rem;
      padding: 0 5rem;
      text-align: center;
    }
  }

  .img-description {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }

  .description {
    margin: 2rem;
  }

  #image-tablet-color {
    height: 360px;
  }
}

@mixin subsection-device-film {
  #subsection-device-film {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    padding: 5rem;
    
    > img {
      margin-left: 2rem;
    }
  }

  .film-description {
    margin-left: 2rem;

    p {
      margin-top: 1rem;
    }
  }
}
