@mixin form-round {
  .form-round{
    background: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 40%;
  }
}
