@use "../abstracts/variables" as *;

body {
  font-family: "Roboto", sans-serif;
}

h1{
  font-size: $heading1;
  margin-bottom: $margin;
}

h2 {
  font-size: $heading2;
}

h3 {
  font-size: $heading3;
  margin-top: $margin;
}

h4 {
  font-size: $heading4;
}

h5 {
  font-size: $heading5;
}

h6 {
  font-size: $heading6;
  margin-top: $margin;
}

p {
  margin-top: $sm-margin;
  font-size: $paragraph;
}

.description {
  margin: $margin;
}

.secondary-text {
  color: $secondary-text-color-dark;
}

.unfocused-text {
  color: $unfocused-color;
}