$heading1: 5rem;
$heading2: 3rem;
$heading3: 2rem;
$heading4: 1.5rem;
$heading5: 1rem;
$heading6: 0.6rem;

$paragraph: 1.2rem;

body {
  font-family: "Roboto", sans-serif;
}

h1{
  font-size: $heading1;
}

h2 {
  font-size: $heading2;
}

h3 {
  font-size: $heading3;
}

h4 {
  font-size: $heading4;
}

h5 {
  font-size: $heading5;
}

h6 {
  font-size: $heading6;
}

p {
  font-size: $paragraph;
}