$primary-color: #00bfd6;

$footer-color: #919699;

// TODO fix correct colors
// TODO gradient Instagram color
$social-media-colors: (
  "twitter": #55ACEE,
  "facebook": #1778F2,
  "youtube": #FF0000,
  "instagram": #405de6,
  "tumblr": #35465C,
);