$primary-color: #00bfd6;

$dark-color-l2: #2e2e2e;
$dark-color-l1: #3b3b3b;
$dark-color: #212121;

$footer-color: #919699;
$secondary-text-color-light: #dedede;

$secondary-text-color-dark: #3d3d3d;

$unfocused-color: #a0a0a0;

$primary-light-bg: white;
$secondary-light-bg: #f4f4f4;

$social-media-colors: (
  "twitter": #55ACEE,
  "facebook": #1778F2,
  "youtube": #FF0000,
  "instagram": #405de6,
  "tumblr": #35465C,
);

$heading1: 5rem;
$heading2: 3rem;
$heading3: 2rem;
$heading4: 1.5rem;
$heading5: 1rem;
$heading6: 0.6rem;

$paragraph: 1.2rem;

$margin: 1rem;
$sm-margin: 0.5rem;

$padding: 5rem;
$sm-padding: 2rem;
